
body{
    font-size: 45px;
}

    section{
    height:350px;
    border: solid black 1px;
    
}
.ist{
    height:100vh;
    border: solid black 1px;
    background-color: #1c1d25;
    color:white;
    font-size: large;
    

}
.suru{
    display:flex;
    justify-content: space-between;
}
.start {
    display:flex;
    
    

    margin:20px;
    

}

nav{
    width:100px;
}
.describe{
    display: flex;
    font-size: 39px;
    
}
.hero{
    display:flex;
    flex-direction: column;
    margin-left:45px;

    height:100%;
    justify-content: center;
    
}
h1{
    font-size: 70px;
}
.button{
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    margin:34px;
    padding-top: 50px;
    
}
.me:hover{
    background-color: aqua;
}
.me:active{
    background-color: blueviolet;
}
.social{
    height:34px;
}
.me{
    background-color: orchid;
    border-radius: 25px;
    width:90px;
    text-align:center;
    padding:10px;
}
img{
    object-position: 60px;
    margin:10px;
    margin-left: 1px;
}


.social{
    height:55px;
}
.textme{
    font-size: 10 px;
    
    
}
.sub-section{

     display:flex;
    justify-content: space-around;
    height: 500px; 
}
.des{
    
    
    margin-top: 0px;
    font-size: 30px;
    
}
.textme{
    display: block;
    width:700px;
    margin-top:10px;
    gap:10px;
    
    
}
.up{
    margin-bottom: 50px;
    
    
}
.headshot {
    
    position:relative;
    display: block;
    
    
    
   width:400px;
   clip-path: circle();
    
    
    
    
}

.headshot-container {
    display:block;
    
    display: flex;
    justify-content:end;
    margin-top: 56px;
    
    
    
}
.next-section{
     height:500px;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.project-card{
    
    width:200px;
    height:300px;
    
    box-shadow: 5px 5px 20px grey;
}
.project-container{
    display: flex;
    justify-content:space-around;
    margin-bottom: 89px;
    

}
.rem-dec{
    text-decoration: none;
    color:aliceblue; 
}
footer{
    text-align: center;
    border: 1px solid black;
    background-color: #1c1d25;
    color: beige;
    height: 400px;
}



    

    
 
